@model Luval.Blog.Web.Models.PostViewModel

<div data-postarea>
    <input type="hidden" value="@Html.Raw(Model.Post.Id)" />
    <div class="alert alert-secondary" role="alert">
        <h1 class="display-4">
            <a class="link-unstyled" href="/Blog/@Html.Raw(Model.Post.Slug)">@Html.DisplayFor(i => i.Post.Title)</a>
        </h1>
        <div class="row px-3">
            <img class="rounded-circle post-profile-pic" src="@Html.Raw(Model.Author.ProfilePicture)">
            <div class="flex-column">
                <h5 class="mb-0 font-weight-normal">@Html.DisplayFor(i => i.Author.DisplayName)</h5>
                <p class="small">@Html.DisplayFor(i => i.PostDate)</p>
            </div>
        </div>
        <hr>
        <p class="mb-0"></p>
    </div>
    <div class="row">
        <div class="col">
            <div data-post></div>
        </div>
    </div>
</div>